# Dependencies
node_modules/
**/node_modules/

# Production
dist/
**/dist/
build/
**/build/

# Environment variables
.env
.env.local
.env.*.local
**/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
